/* creates box sizing for the entire page */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* defines the height margin and padding for our html body and wrapper class */
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* defines the font family and background color for our body */
body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}
/* defines the padding for our wrapper class */
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
/* defines our text align padding and text color for our header */
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}
/* styles our card class for our generate a password box */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}
/* creates a space between my card header and card body */
.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}
/* defines the min height of my card body */
.card-body {
  min-height: 100px;
}
/* aligns my button */
.card-footer {
  text-align: center;
}
/* creates space before my button */
.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}
/* aligns my button */
.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}
/* styles my button */
.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}
/* gives my cursor styling when my button isnt in use */
button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

/* stylized my text area element identified as password */
#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}
/* a mediaquerie for my button class and password id to keep the font size margin and padding to scale with a difference in page size*/
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}
/* media querie calling for my button font size to stay in scale with page size */
@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
